// Palette
@primary: #071559;
@primary-dark: #08273E;
@primary-mid: #1C455A;
@primary-light: #388BB4;


@palette-darkest: #000000;
@palette-dark: #08273E;
@palette-default: #202020;
@palette-mid: #202020;
@palette-light: #EEEEEE;
@palette-lightest: #ffffff;
@body-bg: @palette-default;
@body-font-color: #212121;
@seperator-color: #DCDCDC;
@palette-nav: @primary;

// Type
/*
font-family: 'd-dindin-bold';
font-family: 'd-din_expregular';
font-family: 'd-dinregular';
font-family: 'd-din_condenseddinCnBd';
font-family: 'd-din_condensedregular';
font-family: 'd-dindin-italic';
font-family: 'd-din_expdinexp-italic';
font-family: 'd-din_expdinexp-bold';
*/

@body-font: 'd-dinregular', sans-serif;
@body-font_bold: 'd-dindin-bold', sans-serif;
@body-font_italic: 'd-dindin-italic', sans-serif;
@body-font_light: 'd-din_condensedregular', sans-serif;

@secondary-font: 'Nunito', sans-serif;

@weight-strong: 600;
@weight-medium: 400;
@weight-light: 300;

// Wrapper

// Structural
@spacer: 5px;
@side-spacing: 35px;
@nav-height: 70px;
@shrunk-nav-height: 50px;

// Variable linkage

@wrapper-color: @palette-lightest;
@text-color: @palette-dark;

@ani-speed: 0.3s;