.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 65vh;
    margin-bottom: 45px;
    text-align: right;
    position: relative;

    &::before {
        content: "";
        background: #10152E;
        opacity: 0.56;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    h1 {
        color: @palette-lightest;
        font-size: 5.5rem;
        @media (min-width: @screen-sm-min) {
            font-size: 6.0rem;
        }
    }
}

.page-has-banner {
    .site-header {
        background: transparent;
        position: relative;
        z-index: 1;
    }

    .banner {
        margin-top: -116px;
    }
}

.no-banner {
    .content {
        margin-top: 45px;
    }
}