.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
    padding-top: 90px;
    @media (min-width: @screen-sm-min) {
        padding-top: 0;
        height: 65vh;
    }
    margin-bottom: 45px;
    text-align: right;
    position: relative;
    color: @palette-lightest;

    &::before {
        content: "";
        background: #10152E;
        opacity: 0.56;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    h1 {
        line-height: 1;
        font-family: @body-font_bold;
        color: @palette-lightest;
        font-size: 3.5rem;
        @media (min-width: @screen-sm-min) {
            font-size: 6.0rem;
        }

        span {
            font-family: @body-font_light;
            display: block;
        }
    }
}

.home, .product-template-default, .solution-template-default, .page-template-company-page {
    .site-header {
        background: transparent;
        position: relative;
        z-index: 1;
    }

    .banner {
        margin-top: -116px;
    }
}

.no-banner {
    .content {
        margin-top: 45px;
    }
}