.page-template-contact-page {
    .site-main {
        .contact-grid {
            @media (min-width: @screen-sm-min) {
                display: flex;
                justify-content: space-around;
            }

            aside {
                margin: 0 0 45px 0;
                @media (min-width: @screen-sm-min) {
                    margin: 0;
                    flex: 0 0 30%;
                }
            }

            .form-contents {
                @media (min-width: @screen-sm-min) {
                    flex: 0 0 65%;
                }
            }
        }
    }
}