.downloads-summary {
    color: @body-font-light-color;
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 55px;
}

.download-container {
    border: 3px solid fade(@primary, 58%);
    margin: 0 0 15px 0;

    h3 {
        font-family: @body-font_bold;
        font-size: 2.6rem;
        text-transform: uppercase;
    }

    .info {
        color: @body-font-light-color;
        margin-bottom: 15px;
    }

    .no-downloads {
        font-family: @body-font_bold;
        text-transform: uppercase;
        color: @primary;
    }
}

.downloads-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .downloads-list {
        flex: 0 0 65%;
    }

    .downloads-account {
        flex: 0 0 30%;

        ul {
            list-style: none;

            li + li {
                margin-top: 10px;
            }
        }

        a {
            text-decoration: none;
            color: @body-font-color;
        }

        .current_page_item {
            font-family: @body-font_bold;

            a {
                color: @primary;
            }
        }
    }

    .flexy {
        padding: 35px;
    }
}
