.site-header {
    background: @primary-dark;
    padding: 20px 0;

    &.open {
        nav {
            display: block;
            opacity: 1;
        }
    }

    .container {
        display: flex;
    }

    #nav {
        display: block;
        @media (min-width: @screen-sm-min) {
            display: none;
        }
    }

    #main-menu {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

    #close {
        display: none;
    }

    nav {
        @media (max-width: @screen-xs-max) {
            overflow: auto;
            background: fade(#111, 80%);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            padding: 60px 30px;
            display: none;
            opacity: 0;
            transition: opacity 3s linear;

            ul {
                a {
                    font-size: 2.6rem;
                    transition: color @ani-speed linear;
                    font-weight: 300;
                }

                li {
                    margin: 10px 0;
                }
            }

            #close {
                display: block;
                position: fixed;
                top: 20px;
                right: 16px;
                z-index: 4;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            @media (min-width: @screen-sm-min) {
                display: flex;

                li + li {
                    margin-left: 20px;
                }
            }

            a {
                color: @palette-lightest;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    button {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        color: @primary;
        cursor: pointer;
    }

    .logo {
        align-items: center;
        display: flex;
        flex: 0 0 105px;
        @media (min-width: @screen-sm-min) {
            flex: 0 0 250px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;

        a {
            color: @palette-lightest;
            text-transform: uppercase;
            font-weight: 300;
        }

        li + li {
            margin-left: 10px;
        }
    }
}