.site-header {
    background: @primary-dark;
    transition: background-color 0.2s linear, padding 0.2s linear;
    padding: 20px 0;
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    &.stuck {
        background: @primary-dark;
        padding: 10px 0;

        .logo {
            flex: 0 0 105px;
        }
    }

    &.open {
        nav {
            display: flex !important;
            opacity: 1;
        }
    }

    .container {
        display: flex;
        position: relative;
    }

    #nav {
        display: block;
        @media (min-width: @screen-sm-min) {
            display: none;
        }
    }

    #main-menu {
        @media (max-width: @screen-xs-max) {
            background: white;
        }
        display: none;
        @media (min-width: @screen-sm-min) {
            display: flex;
        }
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

    #close {
        display: none;
    }

    nav {
        @media (max-width: @screen-xs-max) {
            overflow: auto;
            background: fade(#111, 80%);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            padding: 60px 30px;
            display: none;
            opacity: 0;
            transition: opacity 3s linear;

            ul {
                a {
                    font-size: 2.6rem;
                    transition: color @ani-speed linear;
                    font-weight: 300;
                }

                li {
                    margin: 10px 0;
                }
            }

            .current_page_item {
                a {
                    text-decoration: underline;
                    color: @primary !important;
                }
            }

            #close {
                display: block;
                position: fixed;
                top: 35px;
                right: 15px;
                z-index: 4;
                color: @primary;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-family: @body-font_light;
            letter-spacing: 1.05px;

            li {
                padding: 5px;
                position: relative;

                &:last-child {
                    .sub-menu {
                        @media (min-width: @screen-md-min) {
                            left: auto;
                            right: 0;
                        }
                    }
                }

                &:hover {
                    ul {
                        @media (min-width: @screen-md-min) {
                            display: block;
                        }
                    }
                }

                &.menu-item-has-children {
                    &:hover {
                        background: white;

                        a {
                            color: @primary;
                        }
                    }
                }
            }

            li::before {
                display: none;
            }

            @media (min-width: @screen-sm-min) {
                display: flex;

                li + li {
                    margin-left: 20px;
                }
            }

            a {
                @media (min-width: @screen-sm-min) {
                    color: @palette-lightest;
                }
                text-decoration: none;
                text-transform: uppercase;
            }

            ul {
                @media (min-width: @screen-sm-min) {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                }
                background: @palette-lightest;
                width: auto;
                min-width: 200px;
                font-size: 1.4rem;
                padding: 10px 0;

                li {
                    padding: 5px 15px;
                    margin: 0;
                }

                .current-menu-item {
                    a {
                        color: @palette-lightest;
                    }
                }

                a {
                    color: @primary;
                }
            }
        }
    }

    button {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    .logo {
        align-items: center;
        display: flex;
        transition: flex-basis 0.2s linear;
        flex: 0 0 105px;
        @media (min-width: @screen-sm-min) {
            flex: 0 0 210px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;

        a {
            color: @palette-lightest;
            text-transform: uppercase;
            font-weight: 300;
        }

        li + li {
            margin-left: 10px;
        }
    }
}