.company-page {
    .company-content {
        font-size: 2rem;
        line-height: 2.5rem;
        @media (min-width: @screen-sm-min) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        font-family: @body-font_bold;
    }

    .banner {
        text-align: left;
    }
}

.featherlight .featherlight-content {
    @media (min-width: @screen-sm-min) {
        width: 65%;
    }
    @media (min-width: @screen-md-min) {
        width: 50%;
    }

    h3 + p {
        margin-bottom: 15px;
    }
}

.check-grid {
    .check-item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media (min-width: @screen-sm-min) {
            flex-direction: row;
        }

        &:nth-child(even) {
            @media (min-width: @screen-sm-min) {
                flex-direction: row-reverse;
            }
        }

        .check-col {
            flex: 0 0 100%;
            @media (min-width: @screen-sm-min) {
                flex: 0 0 50%;
            }
        }

        .check-col + .check-col {
            .content {
                padding: 20px;
                @media (min-width: @screen-sm-min) {
                    padding: 45px 0 45px 45px;
                    width: 94%;
                }
            }
        }

        .image-check-col {
            background-repeat: none;
            background-position: center;
            background-size: cover;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            padding: 20px;
            @media (min-width: @screen-sm-min) {
                padding: 45px;
                width: 85%;
            }
        }
    }
}

.staff-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;

    .staff-item {
        margin: 0 40px 30px 40px;

        flex: 0 0 calc(100% - 80px);
        @media (min-width: @screen-sm-min) {
            flex: 0 0 25%;
            flex-basis: calc(25% - 80px);
        }

        &:hover {
            .staff-hover {
                opacity: 1;
            }
        }

        .staff-image {
            width: 100%;
            height: auto;
            @media (min-width: @screen-sm-min) {
                 height: 16vw;
            }

            cursor: pointer;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .staff-hover {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: opacity 0.2s linear;
            background: @palette-lightest;
            padding: 18px;
            overflow: auto;
        }

        h3 {
            margin: 16px 0 9px 0;
            font-size: 2.4rem;
        }

        p {
            margin: 0;
        }

        p + p {
            margin-top: 14px;
        }
    }

    .staff_content {
        padding: 0 25px;
        text-align: center;
    }
}