.dropdown-box {
    display: block;
    margin-bottom: 20px;
    position: relative;
    font-family: @body-font;

    .form-control {
        font-size: 1.5rem;
        background: @palette-default;
        color: white;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        border: none;
        width: 100%;

        option {
            margin: 5px 0;
        }
    }

    &.light {
        &::after {
            color: @primary;
        }

        .form-control {
            background: white;
            color: @primary;
        }
    }
}

#loader {
    z-index: 99999;
    display: none;
    &::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        opacity: 0.5;
    }
    svg {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.btn {
    .button();

    &.btn-small {
        font-size: 1.4rem !important;
        padding: 4px 10px !important;
    }

    &.btn-white {
        color: @palette-lightest !important;
        border-color: @palette-lightest !important;
    }
}

.wpforms-field {
    label {
        color: #262626 !important;
        text-transform: uppercase !important;
        font-family: @tertiary-font !important;
    }

    .wpforms-field-sublabel {
        font-family: @tertiary-font !important;
    }

    input {
        border: 1px solid #E1E1E1 !important;
        border-radius: 0 !important;
        font-family: @tertiary-font !important;

        &::placeholder {
            font-size: 1.3rem;
            color: #A4A4A4;
        }
    }

}